@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: hsl(0, 0%, 99.5%);
  color: #01161e;
}

.display_img {
  transition: 0.3s ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  filter: blur(0.8px);
}
.display_img:hover {
  transform: translateY(-7px);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 98px;
  filter: blur(0px);
}

h2 {
  /* text-align: center; */
  /* margin-bottom: 10px; */
}
label {
  font-size: 20px;
}
input,
select {
  padding: 10px 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid rgba(3, 102, 214, 0.3);

  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90%;
  margin: 5px 0 18px 0;
}
input:focus,
select:focus {
  box-shadow: rgba(1, 102, 214, 0.3) 0px 0px 0px 2px;
  border: 1px solid rgba(3, 102, 214, 0.3);
}
.form_wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 30px;
}
.td_underline {
  text-decoration: underline;
  font-style: italic;
}
.submit_btn_wrapper {
  text-align: center;
  margin: 20px 0;
}
.submit_btn {
  padding: 10px 14px;
  border: none;
  color: #fff;
  background: #112035;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  transition: 0.4s;
}
.submit_btn:hover {
  color: #fafafa;
  background-color: #091109;
}

.text_center {
  text-align: center;
}

/* cover page css */
.cover_page_wrapper {
  margin: 50px auto;
  width: 795.276px;
  padding: 110px 84px 110px 84px;
  background-color: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.color1 {
  color: #2b6e9bf1;
}
.color2 {
  color: #344e41;
}
.color3 {
  color: #124559;
}
.color4 {
  color: #8cb369;
}
.color5 {
  color: #285943;
}
.color6 {
  color: #5b8e7d;
}
/* page 1 CSS:------------------------------ */

/* versity name css */
.versity_name {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -15px;
}

/* logo css */
.logo_wrapper img {
  width: 130px;
  margin: 28px 0;
}
/* department name css */
.department_name {
  font-size: 22px;
}
/* assignment title css */
.assignmen_title {
  font-size: 22px;
  font-weight: bold;
  /* text-transform: uppercase; */

  margin: 32px 0;
  color: #3d3e41;
}
.assignmen_title > p {
  color: #91c462e7;
  margin-bottom: 10px;
  font-style: italic;
}

/* teacher and student info css */
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin: 32px 0;
}
.box {
  border: 2px solid #41975ec9;
  border-radius: 0 25px 0 25px;
  font-size: 18px;
  padding: 42px 32px 50px 32px;
  width: 50%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.box_content {
  margin-top: 20px;
  transform: translateX(25px);
}
.box_content p {
  margin-bottom: 7px;
}

/* submit date css */
.submit_date {
  font-weight: bold;
  font-style: italic;
  margin-top: 60px;
  font-size: 16px;
}
.course_info p {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}
/* -------------------------------------------------------------------- */
/* Page 2 CSS ---------------------------- */
.course_info2 {
  margin-bottom: 32px;
}
.course_info2 > p {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}
.assignmen_title2 {
  color: #101010dc;
}
.assignmen_title2 > p {
  text-transform: uppercase;
  font-style: normal;
  color: #359c57c9;
}
.boxes2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000000c4;
  border-radius: 5px;
  margin: 15px;
}
.box2 {
  font-size: 18px;
  padding: 22px 0px 40px 0px;
  width: 50%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.border-left-2 {
  border-left: 2px solid #000000c4;
}
.box_title2 {
  border-bottom: 2px solid #000000c4;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

/* Page 3 CSS----------------------------- */
.assignmen_title3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #db8936b0;
}

.course_info3 p {
  font-size: 18.5px;
  margin-bottom: 8px;
  font-weight: bold;
}

.course_info3 p > span {
  font-style: italic;
  width: 150px;
  display: inline-block;
}

.box3 {
  border: 2px solid rgb(45, 106, 52);
  border-radius: 20px;
  font-size: 19px;
  padding: 42px 32px 50px 32px;
  width: 50%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.boxes3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin: 32px 0;
}

.box_title3 {
  font-size: 23px;
  font-style: italic;
}

.box_content3 {
  margin-top: 20px;
}

.box_content3 p {
  margin-bottom: 7px;
}

.text_right {
  text-align: right;
}

/* Page 4 CSS------------------------------- */
.assignmen_title4 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #397342a8;
}
.box4 {
  font-size: 19px;
  padding: 20px 32px 20px 32px;
  margin: 30px 0 30px 0;
  width: 50%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.box_title4 {
  font-size: 23px;
  font-style: italic;
  text-decoration: underline;
}
.box4_margin_left {
  border-left: 2px solid black;
}
.boxes4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin: 42px 0;
}
.department_name4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.submit_date4 {
  margin-top: 50px;
}

/* Page 5 CSS ----------------------*/
.boxes5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #397342a8;
  border-radius: 25px 0;
  margin: 15px;
}
.box_title5 {
  border-bottom: 3px solid #397342a8;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.border-left-5 {
  border-left: 3px solid #397342a8;
}
.course_info5 {
  margin: 16px 0 38px 16px;
}
.course_info5 p {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}
.course_info5 p > span {
  font-style: italic;
  width: 150px;
  display: inline-block;
}
/* Page 6 CSS------------------------------------- */
.department_name6 {
  margin-top: 20px;
  font-size: 21px;
}
.assignment_on6 {
  font-size: 21px;
  text-transform: capitalize;
  color: #91c462e7;
  margin-bottom: 8px;
}
.assignmen_title6 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.course_info6 p {
  font-size: 18.5px;
  margin-bottom: 8px;
  font-weight: bold;
  margin-left: 24px;
}
.course_info6 p > span {
  font-style: italic;
  width: 150px;
  display: inline-block;
}
.boxes6 {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 10px 0;
}
.box6_right {
  align-self: flex-end;
}
.box6 {
  font-size: 19px;
  padding: 5px 32px 5px 32px;
  margin: 20px 0 20px 0;
  width: 50%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.submit_date6 {
  font-weight: bold;
  font-style: italic;
  margin-top: 30px;
  font-size: 16px;
}
.logo_wrapper6 img {
  width: 130px;
  margin: 10px 0;
}
.box6_margin_left {
  border-left: 4px solid #568360;
}
.box6_margin_left:first-child {
  margin-left: 27px;
}
.versity_name6 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2b6e9bf1;
  margin-top: -20px;
}
/* -------------------------------------------------------------------- */
.appear-imgs {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  flex-wrap: wrap;
  gap: 1.05rem;
  flex-direction: row;
}
.appear-imgs > img {
  max-width: 32%;
  cursor: pointer;
}
.nav_template_title {
  background: #112035;
  padding: 20px;
  color: hsl(0, 0%, 90%);
  font-family: cursive, "serif";
  font-size: 28px;
  width: 100vw;
}

.color_gray {
  color: gray;
}

.download_btn {
  color: #fff;
  background-color: #c51c1c;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  position: absolute;
  right: 8%;
  bottom: 8%;
  font-size: 18px;
  cursor: pointer;
}
.cover_page_parent {
  position: relative;
  max-width: 855px;
  margin-inline: auto;
}

.student_teacher_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text_left {
  text-align: left;
}

/* ------------------------------------------ */
.footer {
  text-align: center;
  color: #01161e;
  font-size: 15px;
  padding: 20px 0;
}

@media (max-width: 840px) {
  .form_wrapper {
    grid-template-columns: 100%;
  }
  .body {
    overflow-x: auto;
  }
  .universityInfo {
    text-align: center;
  }
  .student_teacher_info {
    text-align: center;
    justify-content: center;
  }
  .appear-imgs {
    flex-direction: column;
    /* grid-template-columns: auto; */
  }
  .appear-imgs > img {
    max-width: 100%;
  }
  .nav_template_title {
    font-size: 24px;
  }
}

@media (min-width: 841px) and (max-width: 904px) {
  .appear-imgs > img {
    max-width: 48%;
  }
  .body {
    overflow-x: auto;
  }
}
