@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: hsl(0, 0%, 99.5%);
  color: #01161e;
}

.display_img {
  transition: 0.3s ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  filter: blur(0.8px);
}
.display_img:hover {
  transform: translateY(-7px);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 98px;
  filter: blur(0px);
}

.cover_page_wrapper{
  width: 795.276px;
  padding: 100px 84px;
  
}

input:focus,
select:focus {
  box-shadow: rgba(1, 102, 214, 0.3) 0px 0px 0px 1.5px;
  border: 1px solid rgba(3, 102, 214, 0.3);
}

select{
  cursor: pointer;
}