@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* nav menu related css */
.nav_menu > li > a.active {
  color: #a855f7;
}

body {
  background-color: hsl(0, 0%, 99.5%);
  font-family: "Hind Madurai", sans-serif;
}

.cover_page_wrapper {
  width: 795.276px;
  padding: 100px 84px;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: rgba(1, 102, 214, 0.3) 0px 0px 0px 1.5px;
  border: 1px solid rgba(3, 102, 214, 0.3);
}

select {
  cursor: pointer;
}
